{% extends "mta2014/base.html" %}

{% block content %}
	<script type="text/javascript">
		var poly_list = {{polygons_list|safe}};
		var geoShapes = {{shapes_json|safe}};	
		var geoStops = {{stops_json|safe}};
		var route_names = {{route_names|safe}};
		var dates = {{dates|safe}};
		var accessKey = {{access_key|safe}};
	</script>
		<div class="app-container row">
		<div id="includedContent"></div>
		<div class="row" id="search-menu">
			<div id="error-message-wrapper">
				<div id="error-message-modal" class="modal">
				    <div class="modal-content">
				    </div>
				</div>
			</div>
			<div style="margin-top:65px;" id="slide-out" class="sidenav">
				<!--<div class="col s12">
					<ul class="tabs">
						<li class="tab col s6"><a class="active" href="#search-route-menu">Search Route</a></li>
						<li class="tab col s6"><a href="#search-stop-menu">Search Stop</a></li>
					</ul>
				</div>-->
				<ul class="collapsible collapsible-accordion">
				<li class="col s12">
						<a class="collapsible-header">Search Route<i class="material-icons valign">arrow_drop_down</i></a>
				<div class="collapsible-body" id="search-route-menu"> 
					<ul>
						<li>
							<div class="no-padding input-field">
							    <select id="select_route">
							    </select>
							</div>
						</li>
						<li>
							<div class="no-padding input-field">
							    <select id="select_direction">
							    <option value="" disabled selected>Route Direction</option>
								<option value="n"><a href="#!">North</a></option>
								<option value="s"><a href="#!">South</a></option>
							    </select>
							</div>
						</li>
						<li class="no-padding input-field">
							<i class="material-icons valign">today</i>
							<input type="text" placeholder="Date" class="datepicker" id="route-datepicker" text="Hour">	
						</li>
						<li>
							<div class="no-padding input-field">
							    <select id="select-hour-route">
								</select>
							</div>
						</li>
						<li>
							<button class="btn waves-effect waves-light" id="submit_route_search" type="submit" name"action">Submit<i class="material-icons right">send</i>
							</button>
						</li>
    				</ul>
				</div>
				</li>
				<li class="col s12">
						<a class="collapsible-header">Search Stop<i class="material-icons valign">arrow_drop_down</i></a>
				<div class="collapsible-body" id="search-stop-menu"> 
					<ul>
						<li class="input-field">
          					<span class="material-icons prefix">search</span>
          					<input type="text" id="stop-name-input" class="autocomplete" placeholder="Stop Name">
        				</li>
						<li class="no-padding input-field">
							<i class="material-icons valign">today</i>
							<input type="text" placeholder="Date" class="datepicker" id="stop-datepicker" text="Hour">	
						</li>
						<li>
							<div class="no-padding input-field">
							    <select id="select-hour-stop">
							    </select>
							</div>
						</li>
						<li>
							<button class="btn waves-effect waves-light" id="submit_stop_search" type="submit" name"action">Submit<i class="material-icons right">send</i>
							</button>
						</li>
						<li class="no-padding input-field">
					</ul>
				</div>
				</li>
				</ul>
			</div>
			<a href="#slide-out" data-target="slide-out" class="sidenav-trigger" id="sidenav-trigger"><i class="material-icons">menu</i></a>
		</div>
		<div id="datepicker-parent">
		</div>
			<div class="map-container col s12">
				<div id="boros"></div>
			</div>

	</div>
	<div id="modal-stop-info" class="modal bottom-sheet">
    	<div class="modal-content">
			<div class="row fixed">
				<table class="col s4 striped" id="header-table">
				</table>
			</div>
			<div class="row">
					<table class="col s6">
							<caption><h6>North</h6></caption>
						<thead>
							<tr>
								<th class="label-stop-info">Route ID</th>
								<th class="label-stop-info">Stop ID</th>
								<th class="label-stop-info">Arrival</th>
								<th class="label-stop-info">Departure</th>
							</tr>
						</thead>
					</table>
					<table class="col s6">
							<caption><h6>South</h6></caption>
						<thead>
							<tr>
								<th class="label-stop-info">Route ID</th>
								<th class="label-stop-info">Stop ID</th>
								<th class="label-stop-info">Arrival</th>
								<th class="label-stop-info">Departure</th>
							</tr>
						</thead>
					</table>
				<div class="col s6 highlight" id="north-direction">
					<table>
						<tbody>
						</tbody>
					</table>
				</div>	
				<div class="col s6 highlight" id="south-direction">
					<table>
						<tbody>
						</tbody>
					</table>
				</div>
			</div>
    	</div>
  	</div>
{% endblock %}

